* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-body: "Open Sans", sans-serif;
  --ff-h1: "Inter", sans-serif;

  --color-span-a: hsl(36, 100%, 50%);
  --color-p-footer: hsl(257, 6%, 50%);

  --fs-h1: 5rem;
  --fs-p-footer: 1.5rem;
}

body {  
  font-family: var(--ff-body);
  text-align: center;
  height: 100vh;
  margin: 0;
}

#hero {
  width: 59rem;
  margin: 0 auto 7rem;
}

#hero img {
  margin-bottom: 7rem;
}

h1 {
  font-family: var(--ff-h1);
  font-size: var(--fs-h1);
  line-height: 5.5rem;
  font-weight: normal;
  margin-bottom: 3rem;
}

h1 span {
  font-weight: bold;
}

span, a {
  color: var(--color-span-a);
}

#p-finesse {
  margin-top: 2.5rem;
}

p, #footer {
  color: var(--color-p-footer);
  font-size: var(--fs-p-footer);
  line-height: 3rem;
}

#footer a + a {
  margin-left: 3rem;
}

.line {
  width: 57rem;
  height: 0;
  margin: 7.5rem auto .8rem;
  border: 1px solid hsl(210, 19%, 94%);
}

#balls {
  position: fixed;
  bottom: 0; 
  right: 0;
}